In [12]:
import pandas as pd
import os

In [26]:
path_data = os.path.join(os.getcwd(), 'data', 'season_2018_cleaned.csv')
df = pd.read_csv(path_data)
df.head()

,name,date,mp,fg,fga,fg_pct,fg3,fg3a,fg3_pct,ft,...,trb_sn,ast_sn,stl_sn,blk_sn,tov_sn,pf_sn,pts_sn,plus_minus_sn,score_sn,opp_score_sn
0,"Conley,Mike",20181219,37,7,19,0.368,5,10,0.500,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Gasol,Marc",20181219,36,4,13,0.308,1,6,0.167,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Anderson,Kyle",20181219,35,7,8,0.875,0,1,0.000,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Jackson,Jaren",20181219,29,6,12,0.500,2,4,0.500,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Temple,Garrett",20181219,28,4,7,0.571,1,2,0.500,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df.shape

(280, 77)

In [28]:
pd.DataFrame(df[['mp', 'fg3']].mean()).T /

SyntaxError: invalid syntax (<ipython-input-28-81d38dc3705c>, line 1)

In [21]:
df.isnull().sum()

name               0
date               0
mp                 0
fg                 0
fga                0
                ...
pf_sn            280
pts_sn           280
plus_minus_sn    280
score_sn         280
opp_score_sn     280
Length: 77, dtype: int64